<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyClpBcd3pIIAoOHB-KAw_ZopG_YJqOyEBw</string>
	<key>GCM_SENDER_ID</key>
	<string>495131437413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.empresaB.projeto</string>
	<key>PROJECT_ID</key>
	<string>projeto-multit</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-multit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495131437413:ios:4e860d67ce20a3df8a998c</string>
</dict>
</plist>